<div class="container">
	<table class="table table-dark">
		<thead>
			<tr>
				<td>Title</td>
				<td>Description</td>
				<td colspan="3" align="center">Move</td>
			</tr>
		</thead>
		<tbody>
			<% @film.each do |z| %>
				<tr>
					<td><%= z.title %></td>
					<td><%= z.description %></td>
					<td><%= link_to "Show", film_path(z) %></td>
					<td><%= link_to "Edit", edit_film_path(z) %></td>
					<td><%= link_to "Delete", film_path(z), method: :delete, data: {confirm: "Really ?"} %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	</br>
	<button><%= link_to "Add Film", new_film_path %></button>
</div>